.carousel-item {
  height: 500px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}
.card-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-img-top {
  height: 450px;
  width: 100%;
  object-fit: cover;
}
.div.container-fluid {
  padding-block: 0;
}
